@charset "UTF-8";
body {
	background-image: url("https://i.ibb.co/P9YRVHN/dark-black-and-white-abstract-black-background-76353-1280x720.jpg");
	color:FloralWhite;
	text-align: center;	
}
ol li{
	list-style:none!important;
	}
li {
	font-weight: bold;
	color:#ffcc00;
	float:left;
	font-family: "Gill Sans";
	
}
ol {
	border: 3px solid orange;
	outline-style: double;
	outline-color: burlywood;
	outline-wdith: 2px;
	font-family: Gotham, "Helvetica Neue";
	font-size: 17px
}
h1 {
	float: right;
	color:#ffcc00;
	font-weight: bold;
	padding: 20px;
	font-family: "Lucida Grande";
	clear: inherit;
}

