@charset "UTF-8";
body {
	background-image: url("https://i.ibb.co/P9YRVHN/dark-black-and-white-abstract-black-background-76353-1280x720.jpg");
	color:FloralWhite;
	text-align: center;
	
}
h1 {
	border-style: solid;
	border-width: 3px;
	border-color: #F5F5F5;
	background-color: darkslategrey;
	font-family: sans-serif;
	text-align: center;
	line-height: 100px;
}
h3 {
	border-style: groove;
	border-width: 4px;
	border-color: navajowhite;
	background-color: darkslategrey;
	text-align: center;
}
ul {
	border-style: inset;
	border-radius: 18px;
	border-width: 5px;
	font-size: 20px;
	text-align: center;
	padding-bottom ;
	
}
h4 {
	border-style: groove;
	background-color: floralwhite;
	color: floralwhite;
	text-align: center;
}
