@charset "UTF-8";
body {
	background-image: url("https://i.ibb.co/P9YRVHN/dark-black-and-white-abstract-black-background-76353-1280x720.jpg");
	fontfamily: Geneva, sans-serif;
	color:FloralWhite
	
}
h1 {
	border-style: solid;
	border-width: 3px;
	border-color: #F5F5F5;
	background-color: darkslategrey;
}
h3 {
	border-style: groove;
	border-width: 4px;
	border-color: navajowhite;
	background-color: darkslategrey
}
ul {
	border-style: inset;
	border-radius: 18px;
	border-width: 5px;
	font-size: 20px;
}
h4 {
	border-style: groove;
	background-color: floralwhite;
	color: floralwhite;
}
